
h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

#button {
    font-family: 'Montserrat', sans-serif;
    background-color: #08750c;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 30px;
    transition-duration: 1s;
}
  
#button {
    transition-duration: 0.4s;
}
#button:hover {
    background-color: #4CAF50;
    color: white;
}

#text {
    color: white;
    font-family: 'Montserrat', sans-serif;
}