<!DOCTYPE html>
<html lang="en" style="background-color: #212121">
    <link rel="stylesheet" type="text/css" href="static/css/template.css">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1>PlaylistPoly</h1>
            <p><a href={{ spotify_login }}>
                <button type="button" id="button">Log In With Spotify</button>
            </a></p>
        </div>
    </body>
</html>