<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="static/css/playlists.css">
    <head>
        <meta charset="UTF-8">
        <title>Playlists Page</title>
    </head>
    <body id="text">
        <div style="text-align: center;">
            <h1 id="text">PlaylistPoly: Confirm Your Selections</h1>
            <p> {% for playlist in playlists %}
                <h4> {{ playlist }} </h4> 
                <ol>{% for track in playlist.tracks %}
                    {{ track }}
                </ol> {% endfor $}
            {% endfor %}</p>
        </div>
    </body>
</html>