<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<html lang="en" style="background-color: #212121; font-family: 'Montserrat', sans-serif">
    <link rel="stylesheet" type="text/css" href="static/css/playlists.css">
    <head>
        <meta charset="UTF-8">
        <title>Playlists Page</title>
    </head>
    <body style="color: white">
        <div style="text-align: center;">
            <h1 style="color: white">PlaylistPoly: Confirm Your Selections</h1>
        </div>
        <div style="text-align: center;">
            <p><a href="{{ url_for('home') }}">
                <button style="font-size: 25px">Start Over</button>
            </a></p>
            <form action="{{ url_for('final_page') }}" method="post">
                <input type="submit" name="goto_end" style="font-size: 25px" value="Confirm"\>
            </form>
        </div>
        <div style="display: flex">
        <div style="padding-right: 5%;">
            <h4> {{ p1.title }} </h4> 
            <ol>{% for track in p1.tracks %}
                <li>{{ track }}</li>
            {% endfor %}</ol> 
        </div>
        <div>
            <h4> {{ p2.title }} </h4> 
             <ol>{% for track in p2.tracks %}
                <li>{{ track }}</li>
            {% endfor %}</ol> 
        </div>
        </div>
    </body>
</html>